{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body class="blue-grey darken-4">
  <header>
    <div class="blue-grey darken-3">
      <nav class="blue-grey darken-3" role="navigation">
        <div class="nav-wrapper container">
          <a href="{% url 'index' %}" class="brand-logo"><i class="material-icons">cloud</i>Djfans</a>
          <ul class="right hide-on-med-and-down">
            
            <li><a href="{% url 'index' %}"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="{% url 'show-notifications' %}"><i class="material-icons left">notifications</i>Notifications
            {% if count_notifications %}
            <span class="new badge pink darken-2">{{ count_notifications }}</span>
            {% endif %}
            </a></li>
            <li><a href="{% url 'newpost' %}"><i class="material-icons left">add_box</i>Post</a></li>
            <li><a href="{% url 'newtier' %}"><i class="material-icons left">add_box</i>New tier</a></li>
            <li><a href="{% url 'inbox' %}"><i class="material-icons left">message</i>Messages</a></li>
            <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons left">person</i>Profile</a></li>
          </ul>
        </div>
      </nav>

      <ul id="slide-out" class="sidenav blue-grey darken-3 white-text">
        <li class="white-text"><div class="user-view">
          <div class="background blue-grey darken-3" style="border-bottom:1px solid white;">
            {% comment %} {% if nav_profile.banner %}
              <img src="{{ nav_profile.banner.url }}">
            {% else %}
              <img src="{% static 'img/no_banner.jpg' %}">
            {% endif %} {% endcomment %}
          </div>
          <a href="#user">
          {% if nav_profile.picture %}
            <img src="{{ nav_profile.picture.url }}" class="circle responsive-img">
          {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
          {% endif %} 
          </a>
          <a href="#name"><span class="white-text name">{{ nav_profile.user.first_name }} {{ nav_profile.user.last_name }}</span></a>
          <a href="#email"><span class="white-text email">{{ nav_profile.user.email }}</span></a>
        </div></li>
        <li><a href="{% url 'myfans' %}"  class="white-text"><i class="material-icons">star</i>{{ fans }}     Fans</a></li>
        <li><a href="{% url 'myfollows' %}"  class="white-text"><i class="material-icons">people</i>{{ follows }}     Following</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader grey-text">Me</a></li>
        <li class="white-text"><a href="{% url 'profile' nav_profile.user.username %}"  class="white-text"><i class="material-icons">person</i>My profile</a></li>
        <li><a href="{% url 'change_password' %}" class="white-text"><i class="material-icons">https</i>Change password</a></li>
        <li><a href="{% url 'show-my-lists' %}"  class="white-text"><i class="material-icons">list</i>Lists</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader grey-text">Payments</a></li>
        <li><a href="#!" class="grey-text"><i class="material-icons">credit_card</i>Your cards</a></li>
        <li><a href="#!" class="grey-text"><i class="material-icons">account_balance</i>Your Bank</a></li>
        <li><div class="divider"></div></li>
        <li><a href="{% url 'logout' %}"  class="white-text"><i class="material-icons">power_off</i>Log out</a></li>
      </ul>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">

        {% block banner %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        </div>
    </div>
  </main>
  
  <footer class="page-footer blue-grey darken-3">
    <div class="container ">
      <div class="row ">
        <div class="col l6 s12 left-align">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">This project refers to onlyfans to practice Django<br>
          The emphasis was on learning the function and structure
          </p>
        </div>
        <div class="col l3 s12 left-align">
        </div>

        <div class="col l3 s12 left-align">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a href="#"><i class="fa fa-github white-text"> Github</i></a></li>
            <li><a href="#"><i class="fa fa-check-square-o white-text"> Portfolio</i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center-align">
      <div class="container">
        Made by Materialize / Django
      </div>
    </div>
  </footer>
  
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  {% block javascript %}
  {% endblock %}

  </body>
</html>
